<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ادوفی - قالب HTML برگذاری دوره های آموزشی</title>
	<!--fivicon icon-->
	<link rel="icon" href="assets/img/fevicon.png">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/magnific.min.css">
	<link rel="stylesheet" href="assets/css/nice-select.min.css">
	<link rel="stylesheet" href="assets/css/owl.min.css">
	<link rel="stylesheet" href="assets/css/slick-slide.min.css">
	<link rel="stylesheet" href="assets/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body class='sc5'>
	<!-- search popup area start -->
	<div class="search-popup" id="search-popup">
		<form action="" class="search-form">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="جستجو .....">
			</div>
			<button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
		</form>
	</div>
	<!-- //. search Popup -->

	<section class="admin-dashboard-section">
		<div class="admin-dashboard-right-side">
			<!-- top header start  -->
			<div class="main-header">
				<div class="header-wraper">
					<div class="row">
						<div class="col-xl-6">
							<span class="header-user">
								<a href="#"><img src="assets/img/author/02.png" alt="img"></a>
								<span>سلام،
									<h5>فلان فلانی نسب</h5>
								</span>
							</span>
						</div>
						<div class="col-xl-6 align-self-center text-lg-end">
							<div class="d-lg-flex align-items-center">
								<div class="user-rating text-center d-inline-block">
									<span class="d-block">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="far fa-star"></i>
									</span>
									4.0 (172 امتیاز)
								</div>
								<a class="header-btn btn btn-white" href="#">ایجاد یک دوره جدید</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- top header end  -->

			<!-- dashboard-area start  -->
			<div class="dashboard-area">
				<h5 class="dashboard-title">پنل مدیریت</h5>
				<div class="row">
					<div class="col-lg-4">
						<div class="single-dashboard-inner">
							<img src="assets/img/icon/open-book.png" alt="img">
							<div class="media-body">
								<h4>12</h4>
								<p>دوره های ثبت نام شده</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-dashboard-inner">
							<img src="assets/img/icon/open-book.png" alt="img">
							<div class="media-body">
								<h4>6</h4>
								<p>دوره های فعال</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-dashboard-inner">
							<img src="assets/img/icon/open-book.png" alt="img">
							<div class="media-body">
								<h4>1</h4>
								<p>دوره های تکمیل شده</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-dashboard-inner">
							<img src="assets/img/icon/open-book.png" alt="img">
							<div class="media-body">
								<h4>12.273</h4>
								<p>مجموع دانشجوها</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-dashboard-inner">
							<img src="assets/img/icon/open-book.png" alt="img">
							<div class="media-body">
								<h4>10</h4>
								<p>مجموع دوره ها</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-dashboard-inner">
							<img src="assets/img/icon/open-book.png" alt="img">
							<div class="media-body">
								<h4>1.232 هزار تومان</h4>
								<p>درآمد کل</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- dashboard-area end  -->
			<div class="dashboard-course">
				<h5 class="dashboard-title">دوره های من</h5>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">نام دوره</th>
								<th scope="col">دانشجویان</th>
								<th scope="col">امتیازات </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">دوره آموزشی توسعه وب (کامل)</th>
								<td>10</td>
								<td>
									<span class="user-rating">
										<span>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											4.9
										</span>
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row">دوره آموزشی توسعه وب (کامل)</th>
								<td>10</td>
								<td>
									<span class="user-rating">
										<span>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											4.9
										</span>
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row">دوره آموزشی توسعه وب (کامل)</th>
								<td>10</td>
								<td>
									<span class="user-rating">
										<span>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											4.9
										</span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- dashboard-left-menu start  -->
		<div class="dashboard-left-menu">
			<a href="#" class="logo"><img src="assets/img/logo.png" alt="img"></a>
			<ul>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="dashboard.html"><i class="fas fa-tachometer-alt"></i>پنل مدیریت</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="dashboard-profile.html"><i class="fa fa-user"></i> پروفایل من</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="dashboard-course.html"><i class="fas fa-graduation-cap"></i>دوره های ثبت نام شده</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="dashboard-wishlist.html"><i class="fas fa-bookmark"></i>علاقه مندیها</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="dashboard-review.html"><i class="fas fa-star"></i>دیدگاه دانشجویان</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fab fa-buffer"></i>آزمون ها</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fa fa-shopping-cart"></i>تاریخچه سفارشات</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fa fa-rocket"></i>دوره ها</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fas fa-money-check"></i>درآمد</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fas fa-wallet"></i>برداشت از حساب</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fas fa-question-circle"></i>آزمون دانشجویان</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fas fa-user-graduate"></i>پرسش و پاسخ</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fas fa-book"></i>تکالیف</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fas fa-cog"></i>تنظیمات</a>
				</li>
				<li class="nav-item">
					<a class="dashboard-item-menu" href="#"><i class="fas fa-sign-out-alt"></i>خروج از حساب</a>
				</li>
			</ul>
		</div>
	</section>

	<!-- back-to-top end -->
	<div class="back-to-top">
		<span class="back-top"><i class="fas fa-angle-double-up"></i></span>
	</div>

	<!-- all plugins here -->
	<script src="assets/js/jquery.3.6.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/imageloded.min.js"></script>
	<script src="assets/js/counterup.js"></script>
	<script src="assets/js/waypoint.js"></script>
	<script src="assets/js/magnific.min.js"></script>
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<script src="assets/js/nice-select.min.js"></script>
	<script src="assets/js/fontawesome.min.js"></script>
	<script src="assets/js/ripple.js"></script>
	<script src="assets/js/owl.min.js"></script>
	<script src="assets/js/slick-slider.min.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<!-- main js  -->
	<script src="assets/js/main.js"></script>
</body>

</html>