{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- breabcrumb Area Start-->
	<section class="breadcrumb-area" style="background-color: #F9FAFD;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12 align-self-center">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">صفحه نخست</a></li>
						<li class="breadcrumb-item active" aria-current="page">وبلاگ</li>
					</ul>
					<h2>نوشته های اخیر</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- breabcrumb Area End -->

	<div class="blog-cat">
		<div class="category-navbar navbar-area mt-0 border-top-0">
			<nav class="navbar navbar-expand-lg">
				<div class="container nav-container">
					<div class="collapse navbar-collapse">
						<ul class="navbar-nav menu-open">
							<li>
								<h5 class="mb-0">وبلاگ</h5>
							</li>
							<li>
								<a href="#">مقالات توسعه وب</a>
							</li>
							<li>
								<a href="#">مقالات نرم افزار</a>
							</li>
							<li>
								<a href="#">مقالات علم داده</a>
							</li>
						</ul>
						<div class="single-input-wrap bg-transparent">
							<input type="text" placeholder="جستجو بین دوره های آموزشی">
							<button><i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<!-- lesson Area Start-->
	<section class="lesson-area pd-top-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>مقالات توسعه وب</h2>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="lesson-slider owl-carousel">
						<div class="item">
							<div class="single-blog-wrap style-2">
								<div class="thumb">
									<img src="{% static 'img/blog/1.png' %}" alt="img">
								</div>
								<div class="wrap-details">
									<h5><a href="blog-details.html">5 روش برای درک بهتر علم داده</a></h5>
									<p>شغل یک دانشمند داده ، همه این جعبه ها و موارد دیگر را انتخاب می کند. برای آخرین راهنمای مسیر یادگیری ، جزئیات مهارتها ، دانش و آموزشهای لازم</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single-blog-wrap style-2">
								<div class="thumb">
									<img src="{% static 'img/blog/2.png' %}" alt="img">
								</div>
								<div class="wrap-details">
									<h5><a href="blog-details.html">5 روش برای درک بهتر علم داده</a></h5>
									<p>شغل یک دانشمند داده ، همه این جعبه ها و موارد دیگر را انتخاب می کند. برای آخرین راهنمای مسیر یادگیری ، جزئیات مهارتها ، دانش و آموزشهای لازم</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single-blog-wrap style-2">
								<div class="thumb">
									<img src="{% static 'img/blog/1.png' %}" alt="img">
								</div>
								<div class="wrap-details">
									<h5><a href="blog-details.html">5 روش برای درک بهتر علم داده</a></h5>
									<p>شغل یک دانشمند داده ، همه این جعبه ها و موارد دیگر را انتخاب می کند. برای آخرین راهنمای مسیر یادگیری ، جزئیات مهارتها ، دانش و آموزشهای لازم</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single-blog-wrap style-2">
								<div class="thumb">
									<img src="{% static 'img/blog/2.png' %}" alt="img">
								</div>
								<div class="wrap-details">
									<h5><a href="blog-details.html">5 روش برای درک بهتر علم داده</a></h5>
									<p>شغل یک دانشمند داده ، همه این جعبه ها و موارد دیگر را انتخاب می کند. برای آخرین راهنمای مسیر یادگیری ، جزئیات مهارتها ، دانش و آموزشهای لازم</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- lesson Area End -->

	<!-- blog Area Start-->
	<section class="pd-top-135 pd-bottom-120">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="section-title">
						<h2>مقالات حوزه طراحی</h2>
					</div>
				</div>
				<div class="col-md-4 text-md-end d-md-block d-none">
					<a class="btn btn-base-light" href="course.html">همه مقالات</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/1.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/2.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/4.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/7.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- blog Area End -->

	<!-- blog Area Start-->
	<section class="pd-bottom-120">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="section-title">
						<h2>مقالات نرم افزار</h2>
					</div>
				</div>
				<div class="col-md-4 text-md-end d-md-block d-none">
					<a class="btn btn-base-light" href="course.html">همه مقالات</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/3.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/5.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/6.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/4.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- blog Area End -->

	<!-- blog Area Start-->
	<section class="pd-bottom-120">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="section-title">
						<h2>مقالات علم داده</h2>
					</div>
				</div>
				<div class="col-md-4 text-end d-md-block d-none">
					<a class="btn btn-base-light" href="course.html">همه مقالات</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/1.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/2.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/4.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="single-course-wrap">
						<div class="thumb">
							<img src="{% static 'img/course/7.png' %}" alt="img">
						</div>
						<div class="wrap-details">
							<h6><a href="#">چطور میتونیم یک توسعه دهنده شویم</a></h6>
							<p>با گذراندن این دوره یه توسعه دهنده وب تمام عیار خواهید شد</p>
							<div class="price-wrap">
								<div class="row align-items-center">
									<div class="col-6">
										<a href="#">توسط فلان فلانی نسب</a>
									</div>
									<div class="col-6 text-end">
										<div class="date">5 خرداد 1400</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- blog Area End -->

{% endblock %}